body {
    font-family: Consolas, monospace;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    width: 210mm;
    max-width: 100%;
    background-color: white;
    padding: 20mm;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10mm;
}

.name {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

header p {
    margin: 0;
}

.address-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    margin-top: 5mm;
}

.address, .contact {
   
}

section {
    margin-bottom: 10mm;
    text-align: justify;
}

.heading {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5mm;
}

.subheading {
    font-weight: 700;
    font-size: 16px;
    margin-top: 5mm;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5mm;
    font-weight: 400;
    text-align: justify;
}

footer {
    text-align: center;
    padding-top: 10mm;
    border-top: 1px solid #ccc;
}