body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eaeaea;
}

.container {
    width: 210mm;
    max-width: 100%;
    background-color: white;
    padding: 20mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10mm;
}

section {
    margin-bottom: 10mm;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5mm;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5mm;
}

footer {
    text-align: center;
    padding-top: 10mm;
    border-top: 1px solid #ccc;
}